[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
skip-host-cache
skip-name-resolve
default-authentication-plugin=mysql_native_password
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone='+8:00'

## binlog 日志配置
log-bin=mysql-binlog
binlog-format=statement
server_id=1

## 连接数配置
table_open_cache=512
max_connections=1000
thread_cache_size=64